@import '../../styles/vars';
@import '../../styles/helpers';

.MatchPage {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content-match {
    display: flex;
    flex: 1;
  }
  .wrap-content-match {
    display: flex;
    flex:1;
  }

  .DefaultMatch {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.is-small, .is-extraSmall {
  .MatchPage {
    .content-match {
      padding-bottom: 30px;
    }
  }
}