$black: #000000;
$white: #ffffff;
$dark: #2e3138;
$gray78: #787878;
$gray23: #232323;
$gray46: #464646;
$gray1c: #1C1C1C;
$gray9a: #9A9898;
$red: #c00000;

//colors
.color-black {
  color: $black;
}

.color-white {
  color: $white;
}

.color-dark {
  color: $dark;
}

.color-gray1c {
  color: $gray1c;
}

.color-gray78 {
  color: $gray78;
}

.color-gray46 {
  color: $gray46;
}

.color-gray23{
  color: $gray23;
}

.color-gray9a {
  color: $gray9a;
}

.color-red {
  color: $red;
}
